extends widget/base

block append head
    link(rel='stylesheet' href= url_for('/style/friends.css'))

block content
    main.friends-page.is-flex.is-align-items-center.content.is-full-height
        .container.is-max-widescreen.px-2
            .columns.is-marginless
                section.column.is-12.is-flex.is-flex-direction-column.is-justify-content-center
                    article!= page.content
                    .friends-container
                        each friend in site.data.friends
                            .friend-card
                                a(href=friend.link target='_blank')
                                    img.friend-avatar(src=friend.avatar alt='Friend Avatar')
                                    .friend-info
                                        h3.friend-name= friend.name
                                        p.friend-desc= friend.desc
block append script
    script.
        $claudia.fadeInImage()
